
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css";

html,body{
  width: 100%;  
}

body{
 background-color: skyblue;
 background-color: #87ceeb;
 background-color: rgb(135, 206, 235);
 background-color: hsl(197, 71, 73);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.price-block{
  float: left;
  width: 45%;
  border-right: 1px;
}

.button1{
  background-color: #008cba;
  border: none;
  color:white;
  text-align: center;
  font-size: 16px;
}

/*header{
  font-size: 5em;
}

header>h1{
  display: inline-block;
  width: 30%;
}

header>nav{
  display: inline-block;
  width: 68%;
}

h1{
  font-size: 5rem;
}